//使用scss的math函数，https://sass-lang.com/documentation/breaking-changes/slash-div
@use 'sass:math';

//默认设计稿的宽度
$designWidth: 1920;
//默认设计稿的高度
$designHeight: 1080;

//px转为vw的函数
@function vw($px) {
  @return math.div($px, $designWidth) * 100vw;
}

//px转为vh的函数
@function vh($px) {
  @return math.div($px, $designHeight) * 100vh;
}

@function scale2vw($size, $default-width: $designWidth) {
  // 计算当前视口宽度与默认宽度的比例
  $scale: math.div(100vw, $default-width);

  // 返回缩放后的尺寸
  @return $size * $scale;
}
